{% extends "blog/base.html" %}
{%  block content %}
<h1 class="user-post">About us</h1>
<div class="content-section">
{% comment %} <img src="/media/profile_pics/Myimg.jpg" style="width: 136px; display: flex; justify-content: center;">

<p class="about-user"> This website is developed in django.Divyanshu Rana developed this under the guidance of his seniors during probasion period as trainee in   <a href="https://www.csiakgec.in/index">Computer Society of India</a>. </p></div> {% endcomment %}
{% endblock content %}